body{
  background-image:url(../img/black.jpeg);
text-align: center;
color:white;
background-repeat:repeat;
}
.t{
  text-align: center;
}
title{
  text-align: center;
  font-size: 40px;
}
ul{
  font-size: 30px;
}
.exp{
  font-size: 20px;
}
